<div class="bio-container" [class]="!resService.isPhoneOrTabletPortrait() ? 'desktop-container' : 'phone-container'">
    <div class="left-side"><img src="assets/images/bio.jpg" alt="hello"></div> 
    <div class="right-side"><p>
        The music of Anchoress is an invitation to explore the inexplicable in our material and disenchanted world.

​<br>
​<br>

Centered around a magnetic vocal delivery (often inviting comparisons to Anohni, Scott Walker and Nico), Anchoress fuses elements of dark pop, film music, liturgical influences and drones into hypnotic laments that move between hope and despair, energetic drama and raw intimacy. Their sound, evoked with swelling organ drones, ritualistic guitar arpeggios and thunderous percussion carries with it a cinematic sense of magic that coats the listener into a rich and raw atmosphere of romantic doom and darkness.

​<br>
​<br>
Anchoress was formed in 2020 in Berlin, DE, and is comprised of Anna Lucia Nissen (Vocals/Keys), Alexander Rathbone (Guitar) and Tobias Textor (Drums/Keys). In 2021 Anchoress was a mentee of Jan Brauer (Brandt Brauer Frick) for the Berlin Amplify program of ACUD Macht Neu, received a scholarship from GVL Neustart Kultur 2021/2022, was selected for the Pop-Kultur Talents 2022 and received a scholarship from Musikfonds for 2023.

Recent concerts include 8mm Bar, Arkaoda, Tennis Bar, CTM Vorspiel, Loophole and KW Institute / Pogo Bar, Zwölf Apostel Kirche amongst others.​

​<br>
​<br>
​In 2020 the debut EP “In Times Where Eyes Are Low” was released. Their debut Album "Cockdust" is to be completed in March 2024.    
    </p>
    <a href="https://drive.google.com/drive/u/1/folders/10DDwUg1LldWMIvZYmr7Ru2HbDW_yam1k" target="_blank" rel="noopener noreferrer"><span>[PRESS KIT & TECHRIDER]</span></a>
</div>    
</div>
