<div class="videos-container">
    <div class="video-container">
        <iframe width="560" height="315" src="https://player.vimeo.com/video/935531403?h=6885ada482&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen title="Anchoress - Brave Men"></iframe><script src="https://player.vimeo.com/api/player.js"></script>    
    </div>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/u-hSskkfpP8?si=dhvo0GMl3pQVCW7A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>       
</div>
