<div class="videos-container">
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/kXQmD9kRlYQ?si=fCrUSFRVw3AfYAXG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/OsD6dLOumrU?si=UK8Z7FBnyHcNWqIo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>       
</div>
