.desktop-home, .phone-home {
  display: flex;

  .live-dates {
    line-height: 130%;

    a, span {
      text-decoration: none;
      color: white;
    }
  }

  .links-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;

    .icon-link {
      width: 30px;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }
}

.desktop-home {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 70px 0 70px;
}

.phone-home {
  margin-top: 5vh;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  height: calc(var(--vh, 1vh) * 100);
}

.desktop-header, .phone-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.logo {
  width: 30vw;
  mix-blend-mode: difference;
}

.logo-phone {
  width: 85vw;
  mix-blend-mode: difference;
}

.desktop-dates {
  max-height: 75vh;
  -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
}

.phone-dates, .desktop-dates {
  overflow-y: auto;
  padding-bottom: 10%;
  max-height: calc(var(--vh, 1vh) * 40);
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.phone-dates {
  padding-top: 10%;
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
  mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
}

.phone-dates::-webkit-scrollbar {
  display: none;
}

.desktop-dates::-webkit-scrollbar {
  display: none;
}



