<div [class]="!resService.isPhoneOrTabletPortrait() ? 'desktop-home' : 'phone-home'">
  <div [class]="!resService.isPhoneOrTabletPortrait() ? 'desktop-dates' : 'phone-dates'">
    <app-live-dates-list [details]="!resService.isPhoneOrTabletPortrait()" [liveDates]="liveDates" [sortByYear]="false"></app-live-dates-list>
  </div>
  <div [class]="!resService.isPhoneOrTabletPortrait() ? 'desktop-header' : 'phone-header'">
    <app-links-container [iconLinks]="iconLinks"></app-links-container>
    <div class="logo-container">
      <img [class]="resService.isPhoneOrTabletPortrait() ? 'logo-phone' : 'logo'" class="logo"
           src="../../../assets/images/anchoress_logo.png" alt="logo">
    </div>
  </div>
</div>
