.home-display {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.desktop-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
}

.phone-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo {
  padding: 20px 20px 0 0;
  width: 30vw;
}

.logo-phone {
  padding: 35vh 0 0 0;
  width: 90vw;
}
