.home-display{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.phone-header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 20px;
}

.logo-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo{
    width: 35vw;
}

.logo-phone{
    width: 80vw;
}