.info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-panel{
    width: 50vw;
} 

.right-panel{
    padding: 30px; 
    gap: 10px;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */   
}

.right-panel-desktop{
    font-size: small;
    height: 60vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: left;
}

.right-panel-phone{
    font-size: x-small;
    height: 30vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.right-panel::-webkit-scrollbar {
    display: none;
}

.show-dates-toggle{
    color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    font-size: medium;
}
