<div class="music-container" [class]="!resService.isPhoneOrTabletPortrait() ? 'desktop-container' : 'phone-container'">
    <a href="https://anchoress-official.bandcamp.com/album/in-times-where-eyes-are-low" target="_blank" rel="noopener noreferrer">
        <div class="img-with-link">
            <img src="assets/images/in_times_where_eyes_are_low.jpg" alt="IN TIMES WHERE EYES ARE LOW">
            <span>IN TIMES WHERE EYES ARE LOW</span>
        </div>
    </a>
    <a href="https://soundcloud.com/anchoress-berlin/sets/anchoress-demo-s/s-um8jcrZruYi?si=31659cbfa9934d84a05dbe22ce791546&utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing" target="_blank" rel="noopener noreferrer">
        <div class="img-with-link">
            <img src="assets/images/private_playlist.jpeg" alt="PRIVATE PLAYLIST">
            <span>PRIVATE PLAYLIST</span>
        </div>
    </a>
    <a href="https://soundcloud.com/anchoress-berlin/sets/anchoress-cockdust-premasters/s-WWpZvkzyoie?si=6420302ea3da4e7091841bf2ff1674c1&utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing" target="_blank" rel="noopener noreferrer">
        <div class="img-with-link">
            <img src="assets/images/cockdust.png" alt="COCKDUST">
           <span>COCKDUST</span>
        </div>
    </a>
</div>
