.home-container{
   width: 100vw;
   height: 100vh;
   background-position: top;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   overflow: hidden;
   position: fixed;
}

.phone-background{
   background-image: url("./../../assets/images/background_phone.jpeg");
}

.background{
   background-image: url("./../../assets/images/background_desktop.jpeg");
}