.home-container{
   width: calc(100vw + 20px);
   height: calc(100vh + 20px);
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}