.epk-display{
    height: 100vh;
    width: 100vw;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.epk-display::-webkit-scrollbar {
    display: none;
}

#section-one{
    height: 100vh;
    width: 100vw;
}

.static-link{
    margin-right: 10px;
}

.static-links{
    position: fixed;
    padding: 50px 0 0 40px;
    a{
        color: white;
        text-decoration: none;
        font-size: small;
    }
    
}

.phone-static-links{
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0 0 0;
    a{
        color: white;
        text-decoration: none;
        font-size: small;
    }
}

.desktop-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    height: 100vh;
}

.phone-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.logo-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}

.logo{
    padding: 15px 15px 0 0;
    max-width: 30vw;
    height: fit-content;
}

.logo-phone{
    padding: 40vh 0 0 0;
    width: 60vw;
}