<div [class]="!resService.isPhoneOrTabletPortrait() ? 'static-links' : 'phone-static-links'">
    <app-links-container [iconLinks]="iconLinks"></app-links-container>
    <div class="links-group">
        <a class="static-link" (click)="scroll(sectionTwo)">
            <span>BIO</span>
        </a>
        <a class="static-link"  (click)="scroll(sectionThree)">
            <span>MUSIC</span>
        </a>
        <a class="static-link"  (click)="scroll(sectionFour)">
            <span>VIDEOS</span>
        </a>
        <a class="static-link"  (click)="scroll(sectionFive)">
            <span>LIVE DATES</span>
        </a>
        <a class="static-link"  (click)="scroll(sectionSix)">
            <span>IMAGES</span>
        </a>
    </div>
</div>
<div class="epk-display">
    <div id="section-one">
        <div [class]="!resService.isPhoneOrTabletPortrait() ? 'desktop-header' : 'phone-header'">
            
            <div class="logo-container">
                <img [class]="resService.isPhoneOrTabletPortrait() ? 'logo-phone' : 'logo'" src="assets/images/anchoress_logo.png" alt="logo">
            </div>
        </div>
    </div>
    <div #sectionTwo>
        <app-bio></app-bio>    
    </div>
    <div #sectionThree>
        <app-music></app-music>    
    </div>
    <div #sectionFour>
        <app-videos></app-videos>    
    </div>
    <div id="section-five" #sectionFive>
        <span>LIVE SHOWS</span>
        <app-live-dates-list [sortByYear]="true" [liveDates]="liveDates"></app-live-dates-list>    
    </div>
    <div #sectionSix>
        <app-images></app-images>
    </div>
</div>
